<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.AdobeReader</string>
        <key>LANGUAGE</key>
        <string>English</string>
        <key>MAJOR_VERSION</key>
        <string>11</string>
        <key>MUNKI_CATALOG</key>
        <string>testing</string>
        <key>MUNKI_DESCRIPTION</key>
        <string>Adobe® Reader® is the global standard for reliably viewing, printing, and commenting on PDF documents. It&apos;s the only PDF file viewer that can open and interact with all types of PDF content, including forms and multimedia.</string>
        <key>MUNKI_DISPLAYNAME</key>
        <string>Adobe Reader</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>apps/Adobe</string>
        <key>NAME</key>
        <string>AdobeReader</string>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>language</key>
                <string>%LANGUAGE%</string>
                <key>major_version</key>
                <string>%MAJOR_VERSION%</string>
            </dict>
            <key>Processor</key>
            <string>AdobeReaderURLProvider</string>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>filename</key>
                <string>%NAME%.dmg</string>
            </dict>
            <key>Processor</key>
            <string>URLDownloader</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>EndOfCheckPhase</string>
            <key>Arguments</key>
            <dict/>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%pathname%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
                <key>pkginfo</key>
                <dict>
                    <key>catalogs</key>
                    <array>
                        <string>%MUNKI_CATALOG%</string>
                    </array>
                    <key>description</key>
                    <string>%MUNKI_DESCRIPTION%</string>
                    <key>display_name</key>
                    <string>%MUNKI_DISPLAYNAME%</string>
                    <key>name</key>
                    <string>%NAME%</string>
                    <key>preinstall_script</key>
                    <string>#!/bin/sh
if [ -e "/Applications/Adobe Reader.app" ]; then
    rm -r "/Applications/Adobe Reader.app"
fi
exit 0
                    </string>
                    <key>unattended_install</key>
                    <true/>
                </dict>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
    </array>
</dict>
</plist>
