<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Description</key>
    <string>Downloads updates for Adobe Acrobat Pro X or XI and imports them 
into Munki. It will also set the appropriate 'requires' item for the 
previous update in the Munki pkginfo, if applicable. Historically, 
quarterly scheduled updates have been cumulative for Pro X/XI, and
out-of-cycle updates have not.

The value(s) for update_for in the pkginfo should be set to that 
of your base Adobe Acrobat Pro X installer item.

MAJOR_VERSION can be '10', '11', corresponding to Pro X, Pro XI, 
etc. Multiple overrides for the multiple X-era versions should 
be able to share this recipe and manage multiple major versions.

VERSION can be a specific update version, ie. '10.1.6', or the 
default, 'latest'.</string>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.AdobeAcrobatProXUpdate</string>
        <key>MAJOR_VERSION</key>
        <string>10</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>apps/AcrobatPro</string>
        <key>NAME</key>
        <string>AdobeAcrobatProX_Update</string>
        <key>VERSION</key>
        <string>latest</string>
        <key>pkginfo</key>
        <dict>
            <key>blocking_applications</key>
            <array>
                <string>Adobe Acrobat Pro.app</string>
            </array>
            <key>catalogs</key>
            <array>
                <string>testing</string>
            </array>
            <key>description</key>
            <string></string>
            <key>display_name</key>
            <string>Adobe Acrobat Pro Update</string>
            <key>name</key>
            <string>%NAME%</string>
            <key>unattended_install</key>
            <true/>
            <key>update_for</key>
            <array>
                <string>AdobeAcrobatProX</string>
            </array>
        </dict>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>major_version</key>
                <string>%MAJOR_VERSION%</string>
                <key>munki_update_name</key>
                <string>%NAME%</string>
                <key>version</key>
                <string>%VERSION%</string>
            </dict>
            <key>Processor</key>
            <string>AdobeAcrobatProUpdateInfoProvider</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>URLDownloader</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>EndOfCheckPhase</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>MunkiPkginfoMerger</string>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%pathname%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
    </array>
</dict>
</plist>
