<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Description</key>
    <string>This recipe downloads the most recent Adobe Flash Player installer, 
extracts the embedded package, wraps it in a disk image, then imports the disk
image into Munki.</string>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.FlashPlayerExtractPackage</string>
        <key>NAME</key>
        <string>AdobeFlashPlayer</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>internet_plugins</string>
        <key>pkginfo</key>
        <dict>
            <key>catalogs</key>
            <array>
                <string>testing</string>
            </array>
            <key>description</key>
            <string>Adobe® Flash® Player is a cross-platform browser-based application runtime that delivers uncompromised viewing of expressive applications, content, and videos across screens and browsers.</string>
            <key>display_name</key>
            <string>Adobe Flash Player</string>
            <key>name</key>
            <string>%NAME%</string>
            <key>unattended_install</key>
            <true/>
        </dict>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Processor</key>
            <string>AdobeFlashURLProvider</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>URLDownloader</string>
            <key>Arguments</key>
            <dict>
                <key>filename</key>
                <string>%NAME%.dmg</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>EndOfCheckPhase</string>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>source_path</key>
                <string>%pathname%/Install Adobe Flash Player.app/Contents/Resources/Adobe Flash Player.pkg</string>
                <key>destination_path</key>
                <string>%RECIPE_CACHE_DIR%/Flash Plugin/Adobe Flash Player.pkg</string>
                <key>overwrite</key>
                <true/>
            </dict>
            <key>Processor</key>
            <string>Copier</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>DmgCreator</string>
            <key>Arguments</key>
            <dict>
                <key>dmg_root</key>
                <string>%RECIPE_CACHE_DIR%/Flash Plugin</string>
                <key>dmg_path</key>
                <string>%RECIPE_CACHE_DIR%/%NAME%.dmg</string>
            </dict>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%dmg_path%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
    </array>
</dict>
</plist>
