<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.FlashPlayerNoRepackage</string>
        <key>NAME</key>
        <string>AdobeFlashPlayer</string>
        <key>MUNKI_DISPLAYNAME</key>
        <string>Adobe Flash Player</string>
        <key>MUNKI_DESCRIPTION</key>
        <string>Adobe® Flash® Player is a cross-platform browser-based application runtime that delivers uncompromised viewing of expressive applications, content, and videos across screens and browsers.</string>
        <key>MUNKI_CATALOG</key>
        <string>testing</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>internet_plugins</string>
        <key>MAKEPKGINFO_PKGNAME</key>
        <string>Install Adobe Flash Player.app/Contents/Resources/Adobe Flash Player.pkg</string>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Processor</key>
            <string>AdobeFlashURLProvider</string>
            <key>Arguments</key>
            <dict/>
        </dict>
        <dict>
            <key>Processor</key>
            <string>URLDownloader</string>
            <key>Arguments</key>
            <dict>
                <key>filename</key>
                <string>%NAME%.dmg</string>
            </dict>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%pathname%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
                <key>makepkginfo_pkgname</key>
                <string>%MAKEPKGINFO_PKGNAME%</string>
                <key>pkginfo</key>
                <dict>
                    <key>catalogs</key>
                    <array>
                        <string>%MUNKI_CATALOG%</string>
                    </array>
                    <key>description</key>
                    <string>%MUNKI_DESCRIPTION%</string>
                    <key>display_name</key>
                    <string>%MUNKI_DISPLAYNAME%</string>
                    <key>name</key>
                    <string>%NAME%</string>
                    <key>unattended_install</key>
                    <true/>
                </dict>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
    </array>
</dict>
</plist>
