#
# Common Requirements
# See below for *nix and MacOS requirements.
#
appdirs==1.4.4
attrs==21.4.0
black==22.3.0
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
click==8.1.0
distlib==0.3.4
filelock==3.6.0
flake8==4.0.1
flake8-bugbear==22.3.23
identify==2.4.12
isort==5.10.1
mccabe==0.6.1
mypy-extensions==0.4.3
nodeenv==1.6.0
pathspec==0.9.0
platformdirs==2.5.1
pre-commit==2.17.0
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
PyYAML==6.0
six==1.16.0
toml==0.10.2
tomli==2.0.1
virtualenv==20.14.0
#
# *nix Requirements
#
xattr==0.9.9; sys_platform == 'darwin' or sys_platform == 'linux'
#
# MacOS Requirements
#
pyobjc==8.5; sys_platform == 'darwin'
pyobjc-core==8.5; sys_platform == 'darwin'
pyobjc-framework-Accessibility==8.5; sys_platform == 'darwin'
pyobjc-framework-Accounts==8.5; sys_platform == 'darwin'
pyobjc-framework-AddressBook==8.5; sys_platform == 'darwin'
pyobjc-framework-AdServices==8.5; sys_platform == 'darwin'
pyobjc-framework-AdSupport==8.5; sys_platform == 'darwin'
pyobjc-framework-AppleScriptKit==8.5; sys_platform == 'darwin'
pyobjc-framework-AppleScriptObjC==8.5; sys_platform == 'darwin'
pyobjc-framework-ApplicationServices==8.5; sys_platform == 'darwin'
pyobjc-framework-AppTrackingTransparency==8.5; sys_platform == 'darwin'
pyobjc-framework-AudioVideoBridging==8.5; sys_platform == 'darwin'
pyobjc-framework-AuthenticationServices==8.5; sys_platform == 'darwin'
pyobjc-framework-AutomaticAssessmentConfiguration==8.5; sys_platform == 'darwin'
pyobjc-framework-Automator==8.5; sys_platform == 'darwin'
pyobjc-framework-AVFoundation==8.5; sys_platform == 'darwin'
pyobjc-framework-AVKit==8.5; sys_platform == 'darwin'
pyobjc-framework-BusinessChat==8.5; sys_platform == 'darwin'
pyobjc-framework-CalendarStore==8.5; sys_platform == 'darwin'
pyobjc-framework-CallKit==8.5; sys_platform == 'darwin'
pyobjc-framework-CFNetwork==8.5; sys_platform == 'darwin'
pyobjc-framework-ClassKit==8.5; sys_platform == 'darwin'
pyobjc-framework-CloudKit==8.5; sys_platform == 'darwin'
pyobjc-framework-Cocoa==8.5; sys_platform == 'darwin'
pyobjc-framework-Collaboration==8.5; sys_platform == 'darwin'
pyobjc-framework-ColorSync==8.5; sys_platform == 'darwin'
pyobjc-framework-Contacts==8.5; sys_platform == 'darwin'
pyobjc-framework-ContactsUI==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreAudio==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreAudioKit==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreBluetooth==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreData==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreHaptics==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreLocation==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreMedia==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreMediaIO==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreMIDI==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreML==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreMotion==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreServices==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreSpotlight==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreText==8.5; sys_platform == 'darwin'
pyobjc-framework-CoreWLAN==8.5; sys_platform == 'darwin'
pyobjc-framework-CryptoTokenKit==8.5; sys_platform == 'darwin'
pyobjc-framework-DataDetection==8.5; sys_platform == 'darwin'
pyobjc-framework-DeviceCheck==8.5; sys_platform == 'darwin'
pyobjc-framework-DictionaryServices==8.5; sys_platform == 'darwin'
pyobjc-framework-DiscRecording==8.5; sys_platform == 'darwin'
pyobjc-framework-DiscRecordingUI==8.5; sys_platform == 'darwin'
pyobjc-framework-DiskArbitration==8.5; sys_platform == 'darwin'
pyobjc-framework-DVDPlayback==8.5; sys_platform == 'darwin'
pyobjc-framework-EventKit==8.5; sys_platform == 'darwin'
pyobjc-framework-ExceptionHandling==8.5; sys_platform == 'darwin'
pyobjc-framework-ExecutionPolicy==8.5; sys_platform == 'darwin'
pyobjc-framework-ExternalAccessory==8.5; sys_platform == 'darwin'
pyobjc-framework-FileProvider==8.5; sys_platform == 'darwin'
pyobjc-framework-FileProviderUI==8.5; sys_platform == 'darwin'
pyobjc-framework-FinderSync==8.5; sys_platform == 'darwin'
pyobjc-framework-FSEvents==8.5; sys_platform == 'darwin'
pyobjc-framework-GameCenter==8.5; sys_platform == 'darwin'
pyobjc-framework-GameController==8.5; sys_platform == 'darwin'
pyobjc-framework-GameKit==8.5; sys_platform == 'darwin'
pyobjc-framework-GameplayKit==8.5; sys_platform == 'darwin'
pyobjc-framework-ImageCaptureCore==8.5; sys_platform == 'darwin'
pyobjc-framework-IMServicePlugIn==8.5; sys_platform == 'darwin'
pyobjc-framework-InputMethodKit==8.5; sys_platform == 'darwin'
pyobjc-framework-InstallerPlugins==8.5; sys_platform == 'darwin'
pyobjc-framework-InstantMessage==8.5; sys_platform == 'darwin'
pyobjc-framework-Intents==8.5; sys_platform == 'darwin'
pyobjc-framework-IntentsUI==8.5; sys_platform == 'darwin'
pyobjc-framework-IOSurface==8.5; sys_platform == 'darwin'
pyobjc-framework-iTunesLibrary==8.5; sys_platform == 'darwin'
pyobjc-framework-KernelManagement==8.5; sys_platform == 'darwin'
pyobjc-framework-LatentSemanticMapping==8.5; sys_platform == 'darwin'
pyobjc-framework-LaunchServices==8.5; sys_platform == 'darwin'
pyobjc-framework-libdispatch==8.5; sys_platform == 'darwin'
pyobjc-framework-LinkPresentation==8.5; sys_platform == 'darwin'
pyobjc-framework-LocalAuthentication==8.5; sys_platform == 'darwin'
pyobjc-framework-LocalAuthenticationEmbeddedUI==8.5; sys_platform == 'darwin'
pyobjc-framework-MailKit==8.5; sys_platform == 'darwin'
pyobjc-framework-MapKit==8.5; sys_platform == 'darwin'
pyobjc-framework-MediaAccessibility==8.5; sys_platform == 'darwin'
pyobjc-framework-MediaLibrary==8.5; sys_platform == 'darwin'
pyobjc-framework-MediaPlayer==8.5; sys_platform == 'darwin'
pyobjc-framework-MediaToolbox==8.5; sys_platform == 'darwin'
pyobjc-framework-Metal==8.5; sys_platform == 'darwin'
pyobjc-framework-MetalKit==8.5; sys_platform == 'darwin'
pyobjc-framework-MetalPerformanceShaders==8.5; sys_platform == 'darwin'
pyobjc-framework-MetalPerformanceShadersGraph==8.5; sys_platform == 'darwin'
pyobjc-framework-MetricKit==8.5; sys_platform == 'darwin'
pyobjc-framework-MLCompute==8.5; sys_platform == 'darwin'
pyobjc-framework-ModelIO==8.5; sys_platform == 'darwin'
pyobjc-framework-MultipeerConnectivity==8.5; sys_platform == 'darwin'
pyobjc-framework-NaturalLanguage==8.5; sys_platform == 'darwin'
pyobjc-framework-NetFS==8.5; sys_platform == 'darwin'
pyobjc-framework-Network==8.5; sys_platform == 'darwin'
pyobjc-framework-NetworkExtension==8.5; sys_platform == 'darwin'
pyobjc-framework-NotificationCenter==8.5; sys_platform == 'darwin'
pyobjc-framework-OpenDirectory==8.5; sys_platform == 'darwin'
pyobjc-framework-OSAKit==8.5; sys_platform == 'darwin'
pyobjc-framework-OSLog==8.5; sys_platform == 'darwin'
pyobjc-framework-PassKit==8.5; sys_platform == 'darwin'
pyobjc-framework-PencilKit==8.5; sys_platform == 'darwin'
pyobjc-framework-Photos==8.5; sys_platform == 'darwin'
pyobjc-framework-PhotosUI==8.5; sys_platform == 'darwin'
pyobjc-framework-PreferencePanes==8.5; sys_platform == 'darwin'
pyobjc-framework-PushKit==8.5; sys_platform == 'darwin'
pyobjc-framework-Quartz==8.5; sys_platform == 'darwin'
pyobjc-framework-QuickLookThumbnailing==8.5; sys_platform == 'darwin'
pyobjc-framework-ReplayKit==8.5; sys_platform == 'darwin'
pyobjc-framework-SafariServices==8.5; sys_platform == 'darwin'
pyobjc-framework-SceneKit==8.5; sys_platform == 'darwin'
pyobjc-framework-ScreenCaptureKit==8.5; sys_platform == 'darwin'
pyobjc-framework-ScreenSaver==8.5; sys_platform == 'darwin'
pyobjc-framework-ScreenTime==8.5; sys_platform == 'darwin'
pyobjc-framework-ScriptingBridge==8.5; sys_platform == 'darwin'
pyobjc-framework-SearchKit==8.5; sys_platform == 'darwin'
pyobjc-framework-Security==8.5; sys_platform == 'darwin'
pyobjc-framework-SecurityFoundation==8.5; sys_platform == 'darwin'
pyobjc-framework-SecurityInterface==8.5; sys_platform == 'darwin'
pyobjc-framework-ServiceManagement==8.5; sys_platform == 'darwin'
pyobjc-framework-ShazamKit==8.5; sys_platform == 'darwin'
pyobjc-framework-Social==8.5; sys_platform == 'darwin'
pyobjc-framework-SoundAnalysis==8.5; sys_platform == 'darwin'
pyobjc-framework-Speech==8.5; sys_platform == 'darwin'
pyobjc-framework-SpriteKit==8.5; sys_platform == 'darwin'
pyobjc-framework-StoreKit==8.5; sys_platform == 'darwin'
pyobjc-framework-SyncServices==8.5; sys_platform == 'darwin'
pyobjc-framework-SystemConfiguration==8.5; sys_platform == 'darwin'
pyobjc-framework-SystemExtensions==8.5; sys_platform == 'darwin'
pyobjc-framework-UniformTypeIdentifiers==8.5; sys_platform == 'darwin'
pyobjc-framework-UserNotifications==8.5; sys_platform == 'darwin'
pyobjc-framework-UserNotificationsUI==8.5; sys_platform == 'darwin'
pyobjc-framework-VideoSubscriberAccount==8.5; sys_platform == 'darwin'
pyobjc-framework-VideoToolbox==8.5; sys_platform == 'darwin'
pyobjc-framework-Virtualization==8.5; sys_platform == 'darwin'
pyobjc-framework-Vision==8.5; sys_platform == 'darwin'
pyobjc-framework-WebKit==8.5; sys_platform == 'darwin'
# Windows Requirements
#
generateDS==2.35.24; sys_platform == 'win32'
--no-binary :all: