<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Description</key>
    <string>Downloads the latest Transmit using Panic's Sparkle feed, and imports
into Munki.</string>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.transmit</string>
        <key>NAME</key>
        <string>Transmit</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>apps/Transmit</string>
        <key>pkginfo</key>
        <dict>
            <key>catalogs</key>
            <array>
                <string>testing</string>
            </array>
            <key>description</key>
            <string>Transmit is an excellent FTP (file transfer protocol), SFTP, S3 (Amazon.com file hosting) and iDisk/WebDAV client that allows you to upload, download, and delete files over the internet. With the most Mac-like interface available, Transmit makes FTP as simple, fun, and easy as it can possibly be.</string>
            <key>display_name</key>
            <string>Transmit</string>
            <key>name</key>
            <string>%NAME%</string>
            <key>unattended_install</key>
            <true/>
        </dict>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Processor</key>
            <string>SparkleUpdateInfoProvider</string>
            <key>Arguments</key>
            <dict>
                <key>appcast_url</key>
                <string>http://www.panic.com/updates/update.php</string>
                <key>appcast_query_pairs</key>
                <dict>
                    <key>appName</key>
                    <string>Transmit</string>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>URLDownloader</string>
            <key>Arguments</key>
            <dict>
                <key>url</key>
                <string>%url%</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>EndOfCheckPhase</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>Unarchiver</string>
            <key>Arguments</key>
            <dict>
                <key>archive_path</key>
                <string>%pathname%</string>
                <key>destination_path</key>
                <string>%RECIPE_CACHE_DIR%/%NAME%</string>
                <key>purge_destination</key>
                <true/>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>DmgCreator</string>
            <key>Arguments</key>
            <dict>
                <key>dmg_root</key>
                <string>%RECIPE_CACHE_DIR%/%NAME%</string>
                <key>dmg_path</key>
                <string>%RECIPE_CACHE_DIR%/%NAME%.dmg</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>MunkiPkginfoMerger</string>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%RECIPE_CACHE_DIR%/%NAME%.dmg</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
    </array>
</dict>
</plist>
