<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>VLC is a powerful media player, playing most of the media codecs and video formats out there.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>VLC</string>
</dict>
</plist>
