<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Description</key>
    <string>Downloads the current release version of Dropbox and imports into Munki.

Postinstall script extracts the DropboxHelperInstaller and sets the setuid 
bit so that it can perform its setup tasks as root without asking for admin 
privileges.

Dropbox will attempt to update periodically, and if it does not have permission to 
overwrite the bundle at /Applications/Dropbox.app, it will instead download 
the updated version to ~/Library/Dropbox, and run this version as long as it 
is more recent than the copy in /Applications.</string>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.dropbox</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>apps/Dropbox</string>
        <key>NAME</key>
        <string>Dropbox</string>
        <key>pkginfo</key>
        <dict>
            <key>catalogs</key>
            <array>
                <string>testing</string>
            </array>
            <key>description</key>
            <string>Dropbox is a free service that lets you bring all your photos, docs, and videos anywhere. This means that any file you save to your Dropbox will automatically save to all your computers, phones and even the Dropbox website.</string>
            <key>display_name</key>
            <string>Dropbox</string>
            <key>name</key>
            <string>%NAME%</string>
            <key>postinstall_script</key>
            <string>#!/bin/sh
# based on Ruby postinstall script by Riley Shott:
# https://groups.google.com/group/munki-dev/browse_thread/thread/a2813e7f62535f13/63d127534541f863
# modifications:
# - always extract the helper tool with each install instead of skipping if it exists
# - remove xattr com.apple.quarantine removal, as Munki will have already done this upon 
#   installation; normal autopkg runs also won't quarantine the download to begin with

HELPER_SRC_PATH=/Applications/Dropbox.app/Contents/Resources/DropboxHelperInstaller.tgz
HELPER_DST_DIR=/Library/DropboxHelperTools
HELPER_DST_PATH="$HELPER_DST_DIR/DropboxHelperInstaller"

if [ -e "$HELPER_SRC_PATH" ]; then
  [ -d "$HELPER_DST_DIR" ] || mkdir "$HELPER_DST_DIR"
  /usr/bin/tar -C "$HELPER_DST_DIR" -xz -f "$HELPER_SRC_PATH"
  /bin/chmod 04511 "$HELPER_DST_PATH"
  /usr/sbin/chown root:wheel "$HELPER_DST_PATH"
else
  echo "Expected $HELPER_SRC_PATH, but it was not present in the Dropbox dmg."
  exit 1
fi
</string>
        </dict>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>url</key>
                <string>https://www.dropbox.com/download?plat=mac</string>
                <key>filename</key>
                <string>%NAME%.dmg</string>
            </dict>
            <key>Processor</key>
            <string>URLDownloader</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>EndOfCheckPhase</string>
            <key>Arguments</key>
            <dict/>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%pathname%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
    </array>
</dict>
</plist>
