<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
    <string>Downloads latest VLC disk image and imports into Munki.</string>
    <key>Input</key>
	<dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.VLC</string>
		<key>NAME</key>
		<string>VLC</string>
		<key>MUNKI_REPO_SUBDIR</key>
		<string>apps/%NAME%</string>
		<key>pkginfo</key>
		<dict>
		    <key>catalogs</key>
		    <array>
		        <string>testing</string>
		    </array>
		    <key>description</key>
		    <string>VLC is a powerful media player, playing most of the media codecs and video formats out there.</string>
		    <key>display_name</key>
		    <string>%NAME%</string>
		    <key>name</key>
			<string>%NAME%</string>
			<key>unattended_install</key>
			<true/>
		</dict>
	</dict>
	<key>Process</key>
	<array>
		<dict>
			<key>Processor</key>
			<string>SparkleUpdateInfoProvider</string>
			<key>Arguments</key>
			<dict>
                <key>appcast_url</key>
                <string>http://update.videolan.org/vlc/sparkle/vlc.xml</string>
            </dict>
		</dict>
		<dict>
			<key>Processor</key>
			<string>URLDownloader</string>
			<key>Arguments</key>
			<dict>
				<key>url</key>
				<string>%url%</string>
			</dict>
		</dict>
        <dict>
            <key>Processor</key>
            <string>EndOfCheckPhase</string>
            <key>Arguments</key>
            <dict/>
        </dict>
        <dict>
			<key>Arguments</key>
            <dict/>
			<key>Processor</key>
			<string>MunkiPkginfoMerger</string>
		</dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%pathname%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
	</array>
</dict>
</plist>
