<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Description</key>
    <string>Downloads and imports Munki tools. By default gets the latest dmg from http://code.google.com/p/munki/downloads/list.
Change the DOWNLOAD_URL to "http://munkibuilds.org/munkitools-latest.dmg" to get latest build.</string>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.munkitools</string>
        <key>NAME</key>
        <string>munkitools</string>
        <key>DOWNLOAD_URL</key>
        <string>http://code.google.com/p/munki/downloads/list</string>
        <key>MUNKI_CATALOG</key>
        <string>development</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>munkitools</string>
        <!--  -->
        <key>MUNKITOOLS_CORE_NAME</key>
        <string>munkitools_core</string>
        <key>MUNKITOOLS_CORE_DISPLAYNAME</key>
        <string>Managed Software Update core tools</string>
        <key>MUNKITOOLS_CORE_DESCRIPTION</key>
        <string>Core command-line tools used by Managed Software Update.</string>
        <!--  -->
        <key>MUNKITOOLS_ADMIN_NAME</key>
        <string>munkitools_admin</string>
        <key>MUNKITOOLS_ADMIN_DISPLAYNAME</key>
        <string>Managed Software Update admin tools</string>
        <key>MUNKITOOLS_ADMIN_DESCRIPTION</key>
        <string>Command-line Managed Software Update admin tools.</string>
        <!--  -->
        <key>MUNKITOOLS_APP_NAME</key>
        <string>munkitools</string>
        <key>MUNKITOOLS_APP_DISPLAYNAME</key>
        <string>Managed Software Update</string>
        <key>MUNKITOOLS_APP_DESCRIPTION</key>
        <string>Managed Software Update application.</string>
        <!--  -->
        <key>MUNKITOOLS_LAUNCHD_NAME</key>
        <string>munkitools_launchd</string>
        <key>MUNKITOOLS_LAUNCHD_DISPLAYNAME</key>
        <string>Managed Software Update launchd files</string>
        <key>MUNKITOOLS_LAUNCHD_DESCRIPTION</key>
        <string>launchd configuration files for use by Managed Software Update</string>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Processor</key>
            <string>MunkitoolsURLProvider</string>
            <key>Arguments</key>
            <dict>
                <key>base_url</key>
                <string>%DOWNLOAD_URL%</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>URLDownloader</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>EndOfCheckPhase</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>MunkitoolsPkgsFinder</string>
            <key>Arguments</key>
            <dict>
                <key>dmg_path</key>
                <string>%pathname%</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%pathname%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
                <key>munkiimport_pkgname</key>
                <string>%munki_core_pkg%</string>
                <key>pkginfo</key>
                <dict>
                    <key>catalogs</key>
                    <array>
                        <string>%MUNKI_CATALOG%</string>
                    </array>
                    <key>description</key>
                    <string>%MUNKITOOLS_CORE_DESCRIPTION%</string>
                    <key>display_name</key>
                    <string>%MUNKITOOLS_CORE_DISPLAYNAME%</string>
                    <key>name</key>
                    <string>%MUNKITOOLS_CORE_NAME%</string>
                    <key>requires</key>
                    <array>
                        <string>%MUNKITOOLS_LAUNCHD_NAME%</string>
                    </array>
                    <key>unattended_install</key>
                    <true/>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
            <key>Arguments</key>
            <dict>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
                <key>munkiimport_pkgname</key>
                <string>%munki_admin_pkg%</string>
                <key>pkginfo</key>
                <dict>
                    <key>catalogs</key>
                    <array>
                        <string>%MUNKI_CATALOG%</string>
                    </array>
                    <key>description</key>
                    <string>%MUNKITOOLS_ADMIN_DESCRIPTION%</string>
                    <key>display_name</key>
                    <string>%MUNKITOOLS_ADMIN_DISPLAYNAME%</string>
                    <key>name</key>
                    <string>%MUNKITOOLS_ADMIN_NAME%</string>
                    <key>unattended_install</key>
                    <true/>
                    <key>update_for</key>
                    <array>
                        <string>%MUNKITOOLS_CORE_NAME%</string>
                    </array>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
            <key>Arguments</key>
            <dict>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
                <key>munkiimport_pkgname</key>
                <string>%munki_app_pkg%</string>
                <key>pkginfo</key>
                <dict>
                    <key>catalogs</key>
                    <array>
                        <string>%MUNKI_CATALOG%</string>
                    </array>
                    <key>description</key>
                    <string>%MUNKITOOLS_APP_DESCRIPTION%</string>
                    <key>display_name</key>
                    <string>%MUNKITOOLS_APP_DISPLAYNAME%</string>
                    <key>name</key>
                    <string>%MUNKITOOLS_APP_NAME%</string>
                    <key>requires</key>
                    <array>
                        <string>%MUNKITOOLS_CORE_NAME%</string>
                        <string>%MUNKITOOLS_LAUNCHD_NAME%</string>
                    </array>
                    <key>unattended_install</key>
                    <true/>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
            <key>Arguments</key>
            <dict>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
                <key>munkiimport_pkgname</key>
                <string>%munki_launchd_pkg%</string>
                <key>pkginfo</key>
                <dict>
                    <key>catalogs</key>
                    <array>
                        <string>%MUNKI_CATALOG%</string>
                    </array>
                    <key>description</key>
                    <string>%MUNKITOOLS_LAUNCHD_DESCRIPTION%</string>
                    <key>display_name</key>
                    <string>%MUNKITOOLS_LAUNCHD_DISPLAYNAME%</string>
                    <key>name</key>
                    <string>%MUNKITOOLS_LAUNCHD_NAME%</string>
                </dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>
