<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pkgdir</key>
	<string>.</string>
	<key>id</key>
	<string>com.adiumX.adiumX.pkg</string>
	<key>resources</key>
	<string>Resources</string>
	<key>options</key>
	<string>purge_ds_store</string>
	<key>chown</key>
	<array>
		<dict>
			<key>path</key>
			<string>Applications</string>
			<key>user</key>
			<string>root</string>
			<key>group</key>
			<string>admin</string>
		</dict>
	</array>
</dict>
</plist>
