<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Input</key>
	<dict>
		<key>NAME</key>
		<string>Cyberduck</string>
		<key>MUNKI_DISPLAYNAME</key>
		<string>Cyberduck</string>
		<key>MUNKI_DESCRIPTION</key>
		<string>With an easy to use interface, connect to FTP, SFTP, WebDAV, Amazon S3, Google Storage, Windows Azure, Rackspace Cloud Files and even Google Docs.</string>
		<key>MUNKI_CATALOG</key>
		<string>common</string>
		<key>base_url</key>
		<string>http://cyberduck.ch/</string>
	</dict>
	<key>Process</key>
	<array>
		<dict>
			<key>Processor</key>
			<string>CyberduckURLProvider</string>
			<key>Arguments</key>
			<dict/>
		</dict>
		<dict>
			<key>Processor</key>
			<string>URLDownloader</string>
			<key>Arguments</key>
			<dict>
				<key>download_dir</key>
				<string>%RECIPE_DIR%</string>
				<key>filename</key>
				<string>%NAME%.zip</string>
			</dict>
		</dict>
		<dict>
			<key>Processor</key>
			<string>Unzipper</string>
			<key>Arguments</key>
			<dict>
				<key>archive_path</key>
				<string>%pathname%</string>
				<key>destination_path</key>
				<string>%RECIPE_DIR%/%NAME%</string>
				<key>purge_destination</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Processor</key>
			<string>DmgCreator</string>
			<key>Arguments</key>
			<dict>
				<key>dmg_root</key>
				<string>%RECIPE_DIR%/%NAME%</string>
				<key>dmg_path</key>
				<string>%RECIPE_DIR%/%NAME%.dmg</string>
			</dict>
		</dict>
		<dict>
			<key>Processor</key>
			<string>AppDmgVersioner</string>
			<key>Arguments</key>
			<dict/>
		</dict>
		<dict>
			<key>Processor</key>
			<string>Copier</string>
			<key>Arguments</key>
			<dict>
				<key>source_path</key>
				<string>%dmg_path%</string>
				<key>destination_path</key>
				<string>%MUNKI_REPO%/pkgs/%NAME%-%version%.dmg</string>
			</dict>
		</dict>
		<dict>
			<key>Processor</key>
			<string>MunkiInfoCreator</string>
			<key>Arguments</key>
			<dict>
				<key>pkg_path</key>
				<string>%destination_path%</string>
				<key>info_path</key>
				<string>%MUNKI_REPO%/pkgsinfo/%NAME%-%version%.plist</string>
				<key>displayname</key>
				<string>%MUNKI_DISPLAYNAME%</string>
				<key>description</key>
				<string>%MUNKI_DESCRIPTION%</string>
				<key>catalog</key>
				<string>%MUNKI_CATALOG%</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
