<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Description</key>
    <string>Download latest VLC release and build a package for the application.</string>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.pkg.VLC</string>
        <key>NAME</key>
        <string>VLC</string>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Processor</key>
            <string>SparkleUpdateInfoProvider</string>
            <key>Arguments</key>
            <dict>
                <key>appcast_url</key>
                <string>http://update.videolan.org/vlc/sparkle/vlc.xml</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>URLDownloader</string>
            <key>Arguments</key>
            <dict>
                <key>filename</key>
                <string>%NAME%.dmg</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>AppDmgVersioner</string>
            <key>Arguments</key>
            <dict>
                <key>dmg_path</key>
                <string>%pathname%</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>PkgRootCreator</string>
            <key>Arguments</key>
            <dict>
                <key>pkgroot</key>
                <string>%RECIPE_CACHE_DIR%/%NAME%</string>
                <key>pkgdirs</key>
                <dict>
                    <key>Applications</key>
                    <string>0775</string>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>Copier</string>
            <key>Arguments</key>
            <dict>
                <key>source_path</key>
                <string>%pathname%/VLC.app</string>
                <key>destination_path</key>
                <string>%pkgroot%/Applications/VLC.app</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>PkgInfoCreator</string>
            <key>Arguments</key>
            <dict>
                <key>template_path</key>
                <string>%RECIPE_DIR%/PackageInfoTemplate</string>
                <key>infofile</key>
                <string>%RECIPE_CACHE_DIR%/PackageInfo</string>
                <key>pkgtype</key>
                <string>flat</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>PkgCreator</string>
            <key>Arguments</key>
            <dict>
                <key>pkgname</key>
                <string>%NAME%-%version%</string>
                <key>pkg_request</key>
                <dict>
                    <key>pkgdir</key>
                    <string>%RECIPE_CACHE_DIR%</string>
                    <key>id</key>
                    <string>org.videolan.vlc.pkg</string>
                    <key>resources</key>
                    <string>%RECIPE_DIR%/Resources</string>
                    <key>options</key>
                    <string>purge_ds_store</string>
                    <key>chown</key>
                    <array>
                        <dict>
                            <key>path</key>
                            <string>Applications</string>
                            <key>user</key>
                            <string>root</string>
                            <key>group</key>
                            <string>admin</string>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>
