<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.firefox-rc-sv_SE</string>
        <key>FIREFOX_BUILD</key>
        <string>latest</string>
        <key>LOCALE</key>
        <string>sv_SE</string>
        <key>MUNKI_CATALOG</key>
        <string>testing-swedish</string>
        <key>MUNKI_DESCRIPTION</key>
        <string>Mozilla Firefox is a free and open source web browser.</string>
        <key>MUNKI_DISPLAYNAME</key>
        <string>Firefox (Swedish)</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>apps/firefox</string>
        <key>NAME</key>
        <string>Firefox_SV</string>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>build</key>
                <string>%FIREFOX_BUILD%</string>
                <key>locale</key>
                <string>%LOCALE%</string>
            </dict>
            <key>Processor</key>
            <string>FirefoxURLProvider</string>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>filename</key>
                <string>%NAME%.dmg</string>
            </dict>
            <key>Processor</key>
            <string>URLDownloader</string>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%pathname%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
                <key>pkginfo</key>
                <dict>
                    <key>catalogs</key>
                    <array>
                        <string>%MUNKI_CATALOG%</string>
                    </array>
                    <key>description</key>
                    <string>%MUNKI_DESCRIPTION%</string>
                    <key>display_name</key>
                    <string>%MUNKI_DISPLAYNAME%</string>
                    <key>name</key>
                    <string>%NAME%</string>
                    <key>unattended_install</key>
                    <true/>
                </dict>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
    </array>
</dict>
</plist>
