<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.pkg.AdobeReaderX_EN</string>
        <key>NAME</key>
        <string>AdobeReaderX_EN</string>
        <key>LANGUAGE</key>
        <string>English</string>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Processor</key>
            <string>AdobeReaderURLProvider</string>
            <key>Arguments</key>
            <dict>
                <key>language</key>
                <string>%LANGUAGE%</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>URLDownloader</string>
            <key>Arguments</key>
            <dict>
                <key>filename</key>
                <string>%NAME%.dmg</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>PkgRootCreator</string>
            <key>Arguments</key>
            <dict>
                <key>pkgroot</key>
                <string>%RECIPE_CACHE_DIR%/%NAME%</string>
                <key>pkgdirs</key>
                <dict>
                    <key>Applications</key>
                    <string>01775</string>
                    <key>Library</key>
                    <string>01775</string>
                    <key>Library/Application Support</key>
                    <string>0775</string>
                    <key>Library/Internet Plug-Ins</key>
                    <string>0775</string>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>AdobeReaderDmgUnpacker</string>
            <key>Arguments</key>
            <dict>
                <key>dmg_path</key>
                <string>%pathname%</string>
                <key>unpack_root</key>
                <string>%pkgroot%</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>PkgInfoCreator</string>
            <key>Arguments</key>
            <dict>
                <key>template_path</key>
                <string>%RECIPE_DIR%/info_template.plist</string>
                <key>infofile</key>
                <string>%RECIPE_CACHE_DIR%/PackageInfo</string>
                <key>version</key>
                <string>%app_version%</string>
                <key>pkgtype</key>
                <string>flat</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>PkgCreator</string>
            <key>Arguments</key>
            <dict>
                <key>pkgname</key>
                <string>%NAME%-%version%</string>
                <key>pkg_request</key>
                <dict>
                    <key>pkgdir</key>
                    <string>%RECIPE_CACHE_DIR%</string>
                    <key>id</key>
                    <string>com.adobe.pkg.AdobeReader</string>
                    <key>infofile</key>
                    <string>%RECIPE_CACHE_DIR%/PackageInfo</string>
                    <key>resources</key>
                    <string>%RECIPE_DIR%/Resources</string>
                    <key>options</key>
                    <string>purge_ds_store</string>
                    <key>chown</key>
                    <array>
                        <dict>
                            <key>path</key>
                            <string>Library</string>
                            <key>user</key>
                            <string>root</string>
                            <key>group</key>
                            <string>admin</string>
                        </dict>
                        <dict>
                            <key>Applications</key>
                            <string></string>
                            <key>user</key>
                            <string>root</string>
                            <key>group</key>
                            <string>admin</string>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>
