<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.Flip4Mac-3</string>
        <key>MAJOR_VERSION</key>
        <string>3</string>
        <key>MUNKIIMPORT_PKG_NAME</key>
        <string>Flip4Mac.pkg</string>
        <key>MUNKI_CATALOG</key>
        <string>testing</string>
        <key>MUNKI_DESCRIPTION</key>
        <string>Windows Media Components for QuickTime.</string>
        <key>MUNKI_DISPLAYNAME</key>
        <string>Flip4Mac</string>
        <key>MUNKI_MINIMUM_OS_VERSION</key>
        <string>10.7</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>internet</string>
        <key>NAME</key>
        <string>Flip4Mac</string>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>major_version</key>
                <string>%MAJOR_VERSION%</string>
            </dict>
            <key>Processor</key>
            <string>Flip4MacURLProvider</string>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                 <key>filename</key>
                 <string>%NAME%.dmg</string>
            </dict>
            <key>Processor</key>
            <string>URLDownloader</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>EndOfCheckPhase</string>
            <key>Arguments</key>
            <dict/>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>flat_pkg_path</key>
                <string>%pathname%/%MUNKIIMPORT_PKG_NAME%</string>
                <key>destination_path</key>
                <string>%RECIPE_CACHE_DIR%/Flip4Mac_pkg</string>
                <key>purge_destination</key>
                <true/>
            </dict>
            <key>Processor</key>
            <string>FlatPkgUnpacker</string>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_payload_path</key>
                <string>%RECIPE_CACHE_DIR%/Flip4Mac_pkg/Flip4Mac.pkg/Payload</string>
                <key>destination_path</key>
                <string>%RECIPE_CACHE_DIR%/Flip4Mac_pkg_payload</string>
                <key>purge_destination</key>
                <true/>
            </dict>
            <key>Processor</key>
            <string>PkgPayloadUnpacker</string>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>input_plist_path</key>
                <string>%RECIPE_CACHE_DIR%/Flip4Mac_pkg_payload/Applications/Flip Player.app/Contents/Info.plist</string>
            </dict>
            <key>Processor</key>
            <string>Versioner</string>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>faux_root</key>
                <string>%RECIPE_CACHE_DIR%/Flip4Mac_pkg_payload</string>
                <key>installs_item_paths</key>
                <array>
                    <string>/Applications/Flip Player.app</string>
                </array>
            </dict>
            <key>Processor</key>
            <string>MunkiInstallsItemsCreator</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>MunkiPkginfoMerger</string>
            <key>Arguments</key>
            <dict>
                <key>pkginfo</key>
                <dict>
                    <key>catalogs</key>
                    <array>
                        <string>%MUNKI_CATALOG%</string>
                    </array>
                    <key>description</key>
                    <string>%MUNKI_DESCRIPTION%</string>
                    <key>display_name</key>
                    <string>%MUNKI_DISPLAYNAME%</string>
                    <key>name</key>
                    <string>%NAME%</string>
                    <key>minimum_os_version</key>
                    <string>%MUNKI_MINIMUM_OS_VERSION%</string>
                    <key>unattended_install</key>
                    <true/>
                    <key>version</key>
                    <string>%version%</string>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%pathname%</string>
                <key>munkiimport_pkgname</key>
                <string>%MUNKIIMPORT_PKG_NAME%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
    </array>
</dict>
</plist>
