<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Input</key>
    <dict>
        <key>ABORT_IF_CACHED</key>
        <false/>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.Flip4Mac-2</string>
        <key>MAJOR_VERSION</key>
        <string>2</string>
        <key>MUNKIIMPORT_PKG_NAME</key>
        <string>Flip4Mac WMV.mpkg</string>
        <key>MUNKI_CATALOG</key>
        <string>testing</string>
        <key>MUNKI_DESCRIPTION</key>
        <string>Windows Media Components for QuickTime.</string>
        <key>MUNKI_DISPLAYNAME</key>
        <string>Flip4Mac</string>
        <key>MUNKI_MINIMUM_OS_VERSION</key>
        <string>10.5</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>internet</string>
        <key>NAME</key>
        <string>Flip4Mac</string>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>major_version</key>
                <string>%MAJOR_VERSION%</string>
            </dict>
            <key>Processor</key>
            <string>Flip4MacURLProvider</string>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>filename</key>
                <string>%NAME%.dmg</string>
            </dict>
            <key>Processor</key>
            <string>URLDownloader</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>StopProcessingIf</string>
            <key>Arguments</key>
            <dict>
                <key>predicate</key>
                <string>ABORT_IF_CACHED == YES AND download_changed == NO</string>
            </dict>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%pathname%</string>
                <key>munkiimport_pkgname</key>
                <string>%MUNKIIMPORT_PKG_NAME%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
                <key>pkginfo</key>
                <dict>
                    <key>catalogs</key>
                    <array>
                        <string>%MUNKI_CATALOG%</string>
                    </array>
                    <key>description</key>
                    <string>%MUNKI_DESCRIPTION%</string>
                    <key>display_name</key>
                    <string>%MUNKI_DISPLAYNAME%</string>
                    <key>name</key>
                    <string>%NAME%</string>
                    <key>minimum_os_version</key>
                    <string>%MUNKI_MINIMUM_OS_VERSION%</string>
                    <key>unattended_install</key>
                    <true/>
                </dict>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
    </array>
</dict>
</plist>
