<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Description</key>
    <string>Downloads the latest 2.x version of Flip4Mac for OS X 10.5 and 10.6,
and imports into Munki.</string>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.Flip4Mac-2</string>
        <key>MAJOR_VERSION</key>
        <string>2</string>
        <key>MUNKIIMPORT_PKG_NAME</key>
        <string>Flip4Mac WMV.mpkg</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>internet</string>
        <key>NAME</key>
        <string>Flip4Mac</string>
        <key>pkginfo</key>
        <dict>
            <key>catalogs</key>
            <array>
                <string>testing</string>
            </array>
            <key>description</key>
            <string>Windows Media Components for QuickTime.</string>
            <key>display_name</key>
            <string>Flip4Mac</string>
            <key>name</key>
            <string>%NAME%</string>
            <key>minimum_os_version</key>
            <string>10.5</string>
            <key>unattended_install</key>
            <true/>
        </dict>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>major_version</key>
                <string>%MAJOR_VERSION%</string>
            </dict>
            <key>Processor</key>
            <string>Flip4MacURLProvider</string>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>filename</key>
                <string>%NAME%.dmg</string>
            </dict>
            <key>Processor</key>
            <string>URLDownloader</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>EndOfCheckPhase</string>
            <key>Arguments</key>
            <dict/>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%pathname%</string>
                <key>munkiimport_pkgname</key>
                <string>%MUNKIIMPORT_PKG_NAME%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
    </array>
</dict>
</plist>
