<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Description</key>
    <string>Downloads the current installation package for TextWrangler. Imports it
    into Munki, adding a postinstall_script that installs the command-line tools.</string>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.textwrangler</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>apps/TextWrangler</string>
        <key>NAME</key>
        <string>TextWrangler</string>
        <key>pkginfo</key>
        <dict>
            <key>catalogs</key>
            <array>
                <string>testing</string>
            </array>
            <key>description</key>
            <string>TextWrangler is the powerful general purpose text editor, and Unix and server administrator's tool. TextWrangler is the "little brother" to BBEdit, a leading professional HTML and text editor.</string>
            <key>display_name</key>
            <string>BBEdit</string>
            <key>name</key>
            <string>%NAME%</string>
            <key>postinstall_script</key>
            <string>#!/bin/sh
# Copy command-line tool resources out of .app bundle
CMD_TOOL_DIR=/usr/local/bin
CMD_MAN_DIR=/usr/local/share/man/man1
HELPER_BIN_SRC_DIR=/Applications/TextWrangler.app/Contents/Helpers
HELPER_MAN_SRC_DIR=/Applications/TextWrangler.app/Contents/Resources
LN=/bin/ln

# create dirs if they don't already exist
for DIR in "$CMD_TOOL_DIR" "$CMD_MAN_DIR"; do
    [ -d "$DIR" ] || mkdir -p -m 775 "$DIR"
done
# make symlinks to binaries and manpages
for TOOL in edit twdiff twfind; do
    "$LN" -sf "$HELPER_BIN_SRC_DIR/$TOOL" "$CMD_TOOL_DIR/$TOOL"
    "$LN" -sf "$HELPER_MAN_SRC_DIR/$TOOL.1" "$CMD_MAN_DIR/$TOOL.1"
done
            </string>
            <key>unattended_install</key>
            <true/>
        </dict>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>product_name</key>
                <string>textwrangler</string>
            </dict>
            <key>Processor</key>
            <string>BarebonesURLProvider</string>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>url</key>
                <string>%url%</string>
            </dict>
            <key>Processor</key>
            <string>URLDownloader</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>EndOfCheckPhase</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>MunkiPkginfoMerger</string>
            <key>Arguments</key>
            <dict>
                <key>additional_pkginfo</key>
                <dict>
                    <key>minimum_os_version</key>
                    <string>%minimum_os_version%</string>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%pathname%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
    </array>
</dict>
</plist>
