<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.TextMate</string>
        <key>NAME</key>
        <string>TextMate</string>
        <key>MUNKI_DISPLAYNAME</key>
        <string>TextMate</string>
        <key>MUNKI_DESCRIPTION</key>
        <string>TextMate brings Apple&apos;s approach to operating systems into the world of text editors. By bridging UNIX underpinnings and GUI, TextMate cherry-picks the best of both worlds to the benefit of expert scripters and novice users alike.</string>
        <key>MUNKI_CATALOG</key>
        <string>testing</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>apps</string>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Processor</key>
            <string>URLDownloader</string>
            <key>Arguments</key>
            <dict>
                <key>url</key>
                <string>http://download.macromates.com/</string>
                <key>filename</key>
                <string>%NAME%.zip</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>Unzipper</string>
            <key>Arguments</key>
            <dict>
                <key>archive_path</key>
                <string>%pathname%</string>
                <key>destination_path</key>
                <string>%RECIPE_CACHE_DIR%/%NAME%</string>
                <key>purge_destination</key>
                <true/>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>DmgCreator</string>
            <key>Arguments</key>
            <dict>
                <key>dmg_root</key>
                <string>%RECIPE_CACHE_DIR%/%NAME%</string>
                <key>dmg_path</key>
                <string>%RECIPE_CACHE_DIR%/%NAME%.dmg</string>
            </dict>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%dmg_path%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
                <key>pkginfo</key>
                <dict>
                    <key>catalogs</key>
                    <array>
                        <string>%MUNKI_CATALOG%</string>
                    </array>
                    <key>description</key>
                    <string>%MUNKI_DESCRIPTION%</string>
                    <key>display_name</key>
                    <string>%MUNKI_DISPLAYNAME%</string>
                    <key>name</key>
                    <string>%NAME%</string>
                    <key>unattended_install</key>
                    <true/>
                </dict>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
    </array>
</dict>
</plist>
