<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Description</key>
    <string>Downloads the current release version of Paintbrush and imports into Munki.</string>
    <key>Input</key>
    <dict>
        <key>IDENTIFIER</key>
        <string>com.github.keeleysam.autopkg.munki.Paintbrush</string>
        <key>NAME</key>
        <string>Paintbrush</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>apps</string>
        <key>SPARKLE_FEED_URL</key>
        <string>http://paintbrush.sourceforge.net/updates2x.xml</string>
        <key>pkginfo</key>
        <dict>
            <key>catalogs</key>
            <array>
                <string>testing</string>
            </array>
            <key>description</key>
            <string>Paintbrush is a simple paint program for Mac OS X, reminiscent of Microsoft Paint and Apple’s own now-defunct MacPaint. It provides users with a means to make simple images quickly, something that has been noticeably absent from the Mac for years.
            
            Paintbrush can open and save to most major image formats, including BMP, PNG, JPEG, TIFF, and GIF. Full support for transparency is available for image formats that support an alpha channel (currently PNGs and GIFs). You can also paste images copied from many common Mac applications, including Microsoft Office and Apple iWork.</string>
            <key>display_name</key>
            <string>Paintbrush</string>
            <key>name</key>
            <string>%NAME%</string>
            <key>unattended_install</key>
            <true/>
        </dict>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Processor</key>
            <string>SparkleUpdateInfoProvider</string>
            <key>Arguments</key>
            <dict>
                <key>appcast_url</key>
                <string>%SPARKLE_FEED_URL%</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>URLDownloader</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>EndOfCheckPhase</string>
        </dict>
        <dict>
            <key>Processor</key>
            <string>Unarchiver</string>
            <key>Arguments</key>
            <dict>
                <key>archive_path</key>
                <string>%pathname%</string>
                <key>destination_path</key>
                <string>%RECIPE_CACHE_DIR%/%NAME%</string>
                <key>purge_destination</key>
                <true/>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>DmgCreator</string>
            <key>Arguments</key>
            <dict>
                <key>dmg_root</key>
                <string>%RECIPE_CACHE_DIR%/%NAME%</string>
                <key>dmg_path</key>
                <string>%RECIPE_CACHE_DIR%/%NAME%.dmg</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>MunkiPkginfoMerger</string>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%dmg_path%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
    </array>
</dict>
</plist>
