<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Input</key>
    <dict>
        <key>ABORT_IF_CACHED</key>
        <false/>
        <key>IDENTIFIER</key>
        <string>com.googlecode.autopkg.munki.Office2011Updates</string>
        <key>NAME</key>
        <string>Office2011_update</string>
        <key>MUNKI_CATALOG</key>
        <string>testing</string>
        <key>MUNKI_REPO_SUBDIR</key>
        <string>apps/Office2011</string>
        <key>OFFICE2011_MUNKI_NAME</key>
        <string>Office2011</string>
        <key>VERSION</key>
        <string>latest</string>
    </dict>
    <key>Process</key>
    <array>
        <dict>
            <key>Processor</key>
            <string>MSOffice2011UpdateInfoProvider</string>
            <key>Arguments</key>
            <dict>
                <key>munki_update_name</key>
                <string>%NAME%</string>
                <key>version</key>
                <string>%VERSION%</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>URLDownloader</string>
            <key>Arguments</key>
            <dict/>
        </dict>
        <dict>
            <key>Processor</key>
            <string>StopProcessingIf</string>
            <key>Arguments</key>
            <dict>
                <key>predicate</key>
                <string>ABORT_IF_CACHED == YES AND download_changed == NO</string>
            </dict>
        </dict>
        <dict>
            <key>Processor</key>
            <string>MunkiPkginfoMerger</string>
            <key>Arguments</key>
            <dict>
                <key>pkginfo</key>
                <dict>
                    <key>blocking_applications</key>
                    <array>
                      <string>MSN Messenger</string>
                      <string>Microsoft AutoUpdate</string>
                      <string>Microsoft Cert Manager</string>
                      <string>Microsoft Chart Converter</string>
                      <string>Microsoft Clip Gallery</string>
                      <string>Microsoft Entourage</string>
                      <string>Microsoft Outlook</string>
                      <string>Microsoft Error Reporting</string>
                      <string>Microsoft Excel</string>
                      <string>Microsoft Graph</string>
                      <string>Microsoft Help Viewer</string>
                      <string>Microsoft Language Register</string>
                      <string>Microsoft Communicator</string>
                      <string>Microsoft Messenger</string>
                      <string>Microsoft PowerPoint</string>
                      <string>Microsoft Query</string>
                      <string>Microsoft Word</string>
                      <string>My Day</string>
                      <string>Organization Chart</string>
                      <string>Expression Media</string>
                      <string>Remote Desktop Connection</string>
                      <string>Opera</string>
                      <string>Google Chrome</string>
                      <string>Firefox</string>
                      <string>Safari</string>
                    </array>
                    <key>catalogs</key>
                    <array>
                        <string>%MUNKI_CATALOG%</string>
                    </array>
                    <key>update_for</key>
                    <array>
                        <string>%OFFICE2011_MUNKI_NAME%</string>
                    </array>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Arguments</key>
            <dict>
                <key>pkg_path</key>
                <string>%pathname%</string>
                <key>repo_subdirectory</key>
                <string>%MUNKI_REPO_SUBDIR%</string>
            </dict>
            <key>Processor</key>
            <string>MunkiImporter</string>
        </dict>
    </array>
</dict>
</plist>
