name: Linting

on:
  pull_request_target:
    types: [opened, reopened]
  push:
    branches: [main, master, dev]
  workflow_dispatch:

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10.11"

      - name: Linting
        run: .github/workflows/linting.sh
