#
# Common Requirements
# See below for *nix and MacOS requirements.
#
appdirs==1.4.4
attrs==25.4.0
black==25.9.0
certifi==2025.10.5
cffi==2.0.0
cfgv==3.4.0
click==8.3.0
distlib==0.4.0
filelock==3.20.0
flake8==7.3.0
flake8-bugbear==24.12.12
identify==2.6.15
isort==7.0.0
lxml==6.0.2
mccabe==0.7.0
mypy-extensions==1.1.0
nodeenv==1.9.1
pathspec==0.12.1
platformdirs==4.5.0
pre-commit==4.3.0
pycodestyle==2.14.0
pycparser==2.23
pyflakes==3.4.0
pyyaml==6.0.3
setuptools==80.9.0
six==1.17.0
tomli==2.3.0
virtualenv==20.35.3
#
# *nix Requirements
#
xattr==1.2.0; sys_platform == 'darwin' or sys_platform == 'linux'
#
# MacOS Requirements
#
pyobjc-core==11.1; sys_platform == 'darwin'
pyobjc-framework-CFNetwork==11.1; sys_platform == 'darwin'
pyobjc-framework-LaunchServices==11.1; sys_platform == 'darwin'
pyobjc-framework-OpenDirectory==11.1; sys_platform == 'darwin'
pyobjc-framework-Quartz==11.1; sys_platform == 'darwin'
pyobjc-framework-Security==11.1; sys_platform == 'darwin'
pyobjc-framework-SystemConfiguration==11.1; sys_platform == 'darwin'
#
# Windows Requirements
#
generateDS==2.44.3; sys_platform == 'win32'
